body {
    background: url();
    background-color: hsl(185, 75%, 39%);
    font-size: 16px;
    font-family: Kumbh Sans;
    margin-bottom:auto;
    height: auto;
    width: auto;
}

hr {
    opacity: 0.5;
}

.top-bg-img {
    position: fixed;
    z-index: -1;
    bottom: 330px;
    right: 650px;
}

.bottom-bg-img {
    position: fixed;
    z-index: -1;
    top: 390px;
    left: 570px;
}

.card-main {
    display: grid;
    justify-content: center;
    border-radius: 15px;
}

.card-body {
    background-color: white;
    margin: 100px 0 10px 0;
    border-radius: 15px;
}

.profile-details {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: space-around;
}

.img-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.img-div {
    position: relative;
    bottom: 40px;
    text-align: center;
    height: 50px;
}

.profile-pic {
    border: 2px solid white;
    border-radius: 50%;
}
.profile-name {
    text-align: center;
    display: grid;
    grid-template-columns: 100px 10px;
    justify-content: center;
}
.name{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}
.location, .age{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.profile-fig {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.profile-attr {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: white;
    text-decoration: none;
    }